#titulo,#caja,#mensaje{
    margin: 0 auto;
}
#caja{
    background:#d7d7d7; 
    width:500px;
    height:300px;
    padding:10px;
    box-sizing:border-box;    
    border: 1px bold;
    overflow-y:auto;
}
#mensaje{
    background:#c7c7c7; 
    width:500px;
    height:100px;
    padding:10px;
    box-sizing:border-box;    
    border: 1px bold;
}
#texto{
    min-width:470px;
    max-width:470px;
    min-height:50px;
    max-height:50px;
}
.contenedorMensaje{
    max-width:200px;
    margin:10px;
    padding:10px;
    background:rgb(84, 165, 219);
    box-sizing:border-box;    
    border-radius:10px;
    overflow-x:auto;
}